button{
    padding: 10px 15px;
    color: gray;
    font-size: 20px;
    border-style: none;
    box-shadow: 2px 2px 2px rgb(225, 13, 122);
    margin-bottom: 20px;
    
}

.primary{
    background-color: darkblue;
}
.secondary{
    background-color: aqua;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}


.solid{
    &.primary{
        background-color: darkblue;
   }
   &.secondary{
    background-color: aqua;
}
&.white{
    background-color: white;
}
&.black{
    background-color: black;
 
 }
    
}

.outline{
    &.primary{
    border: 2px solid darkblue ;
    background-color: transparent;
    }
    &.secondary{
    border: 2px solid aqua ;
    background-color: transparent;
    
}
&.white{
    border: 2px solid  white ;
    background-color: transparent;
    
}
&.black{
    border: 2px solid  black;
    background-color: transparent;
    
}
}





.main-dropdown {
    max-width: 1000px;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    position: relative;
    
    
    
 }
.dropdown-content{
    display: none;
    background-color: blanchedalmond;
    position: absolute;
    padding:20px;
    left: 10px;
   
}
.show{
  display: block;
 }

 .btn{
    margin-bottom: 10px;
 }
 .count-number {
    font-size: 20px;
    padding-bottom: 20px;
 }