button{
    padding:10px 20px;
    color:green;
    margin-bottom: 10px;
    font-size: 15px;
}

.solid{
    &.primary{
        background-color: rgb(51, 126, 201);
        border: none;
        box-shadow: 0 0 5px gray;
    }
    &.secondary{
        background-color: orange;
        border: none;
        box-shadow: 0 0 5px gray;
    }

    &.black{
        background-color: black;
        border: none;
        box-shadow: 0 0 5px gray;
    }

    &.white{
        background-color: white;
        border: none;
        box-shadow: 0 0 5px gray;
    }
}


.outline{
    &.primary{
        border:2px solid rgb(51, 126, 201);
        box-shadow: 0 0 5px gray;
        background: transparent;
    }
    &.secondary{
        border:2px solid orange;
        box-shadow: 0 0 5px gray;
        background: transparent;
    }

    &.black{
        border:2px solid black;
        box-shadow: 0 0 5px gray;
        background: transparent;
    }

    &.white{
        border:2px solid white;
        box-shadow: 0 0 5px gray;
        background: transparent;
    }
}