.calculator {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
}

.calculator input[type='text'] {
  width: 290px;
  margin-bottom: 10px;
  padding: 5px;
}

.calculator .keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.calculator button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: white;
  border: none;
  cursor: pointer;
}

.calculator .clear,
.calculator .equal {
  background-color: white;
  color: black;
}

.calculator .clear:hover,
.calculator .equal:hover {
  background-color: white;
}

.clear{
    margin-bottom: 10px;
    margin-top: 10px;
}