.calculator {
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculator input[type='text'] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.calculator .keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.calculator button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.calculator .clear,
.calculator .equal {
  background-color: #4caf50;
  color: #fff;
}

.calculator .clear:hover,
.calculator .equal:hover {
  background-color: #45a049;
}
.clear{
    margin-bottom: 10px;
    margin-top: 10px;
}